@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f3e5f5;
}

header {
    background: linear-gradient(to right, #9c27b0, #673ab7);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.logo {
    width: fit-content;
    display: block;
    margin: 0px auto;
    background-color: #fff;
    padding: 5px 20px;
    font-size: 20px;
    color: #fff;
    border-radius: 25px;
}

.logo a {
    color: #fff;
}

.logo h3 {
    color: #333; 
    font-size: 36px; 
}
.main {
    padding: 20px;
}

.login-form {
    background-color: #fff; 
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    color: #673ab7; 
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc; 
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #9c27b0; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #7b1fa2
}
.social-login {
    text-align: center; 
    margin-top: 20px; 
}

.social-login p {
    font-size: 20px; 
    margin-bottom: 10px; 
}

.social-icon {
    font-size: 24px; 
    margin: 0 10px; 
}

nav {
    width: 100%;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    font-size: 21px;
    color: #fff;
    font-weight: 600;
}


.active-li a {
    color: #b93be2;
}

.active-li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #b93be2;
    height: 3px;
    width: 100%;
    border: 5px;
}

.bg-header nav ul li a {
    color: #333;
}

.bg-header .active-li::after {
    background-color: #333;
}

#hamburger {
    display: none;
}


.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    margin-top: 4rem;
}

.product {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    
}
.product:hover img{
    transform: scale(1.1);
  }
.product img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: all 0.3s linear;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product p {
    font-size: 14px;
    color: #888;
    margin-bottom: 15px;
}

.product button {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #4c077b;
}

header {
    background: #6a0dad;
    color: #fff;
}

.logo {
    background-color: #fff;
    color: #6a0dad;
}

.menu ul li a {
    color: #fff;
}

.menu ul li a:hover {
    color: #ffd700;
}

.sketchfab-embed-wrapper {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
}

.sketchfab-embed {
    width: 75%;
    height: 400 px; 
    border-radius: 30px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/*Notifications section */
.general-notifications {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.notification {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.notification i {
    font-size: 24px;
    margin-right: 20px;
    color: #333;
}

.notification-content h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.notification-content p {
    font-size: 16px;
    color: #666;
}
.notification h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.notification p {
    font-size: 16px;
    color: #666;
}

.order-updates {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 .cart-item {
    background-color: #f4f4f4;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.cart-item img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.item-details h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    
}

.item-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.total-price, .checkout {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-price h3, .checkout button {
    font-size: 20px;
    color: #333;
}

.total-price p, .checkout p {
    font-size: 16px;
    color: #666;
}
.item-options label,
.item-options select,
.item-options input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.checkout-btn {
    padding: 15px 30px;
    font-size: 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.checkout-btn:hover {
    background-color: darkpurple;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #b867f1;
    padding: 20px;
    text-align: center;
    color: white;
}

/*Account section*/
.account {
    padding: 20px;
    text-align: center;
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; 
    margin-top: 50px; 
}
.options-grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px; 
    margin-top: 50px; 
}

.option {
    background-color: purple;
    color: white;
    padding: 50px; 
    border-radius: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.option2 {
    background-color: rgb(228, 136, 228);
    color: white;
    padding: 20px; 
    border-radius: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.option:hover {
    transform: scale(1.1); 
}
.option2:hover {
    transform: scale(1.1); 
}
.option i {
    font-size: 40px;
    margin-bottom: 10px;
}
.b-button {
    padding: 15px 30px; 
    font-size: 18px; 
    background-color: #6c5ce7;
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.b-button:hover {
    background-color: #4a47a3; 
}

.contact{
    margin-top: 5rem;
}
.contact p{
    text-align: center;
    margin-top: 2rem;
    font-size: 18px;
    color: grey;
}
.contact .links{
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem 0px;

}
.links a{
    font-size: 40px;
    transition: all 0.3s ease;
    color: #333;
}
.links a:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 576px) {
    nav {
        position: fixed;
        top: 56px;
        z-index: 10;
        background-color: aliceblue;
        transform: translateX(-100%);
        transition: all 0.3s ease-in;
    }
    .nav-active {
        transform: translateX(0%);
    }
    .header-fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
    nav ul {
        height: calc(100vh - 56px);
        width: 100%;
        flex-direction: column;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
    }
    #hamburger {
        display: block !important;
        margin-right: 15px;
        font-size: 25px;
        cursor: pointer;
        color: #fff;
    }
    .logo {
        margin: initial;
        margin-left: 15px;
        padding: 8px 16px;
        font-size: 15px;
    }
    .bg-header nav ul li a {
        color: #333;
    }
    .bg-header .active-li::after {
        background-color: #333;
    }
    .bg-header #hamburger {
        color: #333;
    }}